* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    width: 100%;
    background: radial-gradient(circle, #bcd100, #101100, #000000, #000000, #000000);
    background-size: 200% 200%;
    animation: cambiarColorFondo 20s infinite alternate;
}

#root {
    height: 100vh;
    width: 100%;
}

.view {
    height: inherit;
    width: inherit;
}