.homePC {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homePC.disableHomePC {
    opacity: 0;
    transition: 1.5s;
}

.homePC.enableHomePC {
    opacity: 1;
    transition: 2s ease;
}

.card {
    position: relative;
}

.card div {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: 1.5s;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card .frontAct {
    transform: perspective(500px) rotateX(0deg);
}

.card .backDes {
    transform: perspective(500px) rotateX(180deg);
}

.card .frontDes {
    transform: perspective(500px) rotateX(180deg);
}

.card .backAct {
    transform: perspective(500px) rotateX(360deg);
}

.imgC1 {
    width: 20rem;
    margin-bottom: 1.2rem;
}

.imgC2 {
    width: 25rem;
}