.scrollDisabled {
    overflow-y: hidden;
}

.nav-pc {
    z-index: 999;
    width: 100%;
    height: 15vh;
    padding: 0.5rem 3rem;
    top: 0;
    left: 0;
    font-size: 1.7rem;
    position: fixed;
    transform: translateX(110%);
    border-bottom: 3px #FF9800 solid;
    background-color: black;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-pc {
    height: 95%;
    width: auto;
    cursor: pointer;
}

.logo-pc:hover {
    content: url("/assets/images/logoPC_blanco.png");
}

.nav-pc ul {
    color: white;
    display: flex;

}

.nav-pc ul li {
    list-style: none;
    margin-right: 1rem;
    color: #FF9800;
    cursor: pointer;
}

.nav-pc ul li:hover {
    color: white;
    font-weight: bold;
}

.li-active {
    color: rgb(221, 221, 221) !important;
    font-weight: bold;
}

.navActive {
    transform: translateX(0);
    transition: transform 3.5s ease;
}

.viewP {
    height: 100vh;
    width: 100%;
    font-size: 20px;
    line-height: 1.5;
    overflow-x: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Sección 1 */
#view1PC {
    padding-left: 1em;
}

.imgMain {
    max-height: 100%;
    width: auto;
}

.viewP .containerSection1 {
    width: 90%;
    height: 90%;
    padding: 20vh 0 0 5rem;
    border-bottom: 3px solid #FF9800;
    border-radius: 0 0 5px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contTexto {
    font-size: 1em !important;
    height: 100%;

    border-top: 3px #FF9800 solid;
    border-right: 3px solid #FF9800;
    border-radius: 5px 5px 0 0;

    color: #FF9800;
}

.containerSection1 h2 {
    width: 90%;
    color: black;
    text-align: center;
    margin-bottom: 2em;

    background-color: #FF9800;

    border-radius: 0 0 5px 5px;

}

.contTexto p {
    padding-bottom: 1rem;
    text-align: justify;
    margin-right: 2.5em;
    margin-left: 1em;
}

.viewDisable {
    transform: translateX(-110%);
    transition: transform 3.5s ease;
}

.viewEnable {
    transform: translateX(0);
    transition: transform 3.5s ease;
}

/* Sección 2 */
#view2PC {
    padding-right: 1em;
    background-color: aliceblue;
    color: black;
    padding-top: 15vh;
}

.viewP .containerSection2 {
    width: 90%;
    height: 90%;

    border-left: 3px black solid;
    border-bottom: 3px black solid;

    border-radius: 5px 0 0 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-direction: column;
}

.containerSection2 .containerSuperior {
    width: 100%;
}

.containerSection2 .containerSuperior .containerLeft {
    width: 50%;
    border-top: 3px black solid;
    border-radius: 5px 5px 0 0;

    display: flex;
    justify-content: end;
}

.containerSection2 .containerSuperior h2 {
    width: 75%;
    text-align: center;
    margin-left: 10%;

    background-color: black;
    color: #FF9800;

    border-radius: 0 0 5px 5px;
}

.containerGrid {
    width: 100%;
    height: 80vh;
    padding: 1em;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}

.containerGrid .card-grid-pc {
    border: 2px black solid;
    border-radius: 5px;
    padding: 0 1em;

    background-color: aliceblue;
    z-index: 888;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-grid-pc .left-card-grid-pc {
    height: 100%;
    min-width: 50%;

    display: flex;
    justify-content: start;
    align-items: center;
}

.card-grid-pc .iconSkill-pc {
    height: 2.5em;
    width: auto;
    margin-right: 0.5em;
}

.card-grid-pc .cotainerNivel-pc {
    height: 100%;
    width: 50%;

    width: 100%;
    height: 1em;
    border-radius: 3px;
    border: 2px black solid;
}

.cotainerNivel-pc .nivel-pc {
    height: 100%;
    background-color: #FF9800;
}

.left-pc {
    transform: translateX(-150%);
    transition: transform 0.1s ease-out;
}

.right-pc {
    transform: translateX(150%);
    transition: transform 0.1s ease-out;
    overflow-x: hidden;
}

.active-pc {
    transform: translateX(0);
    transition: transform 0.5s ease-out;
}

/* Sección 3 */
#view3PC {
    padding-left: 1em;
    padding-top: 15vh;
}

.viewP .containerSection3 {
    width: 90%;
    height: 90%;

    border-right: 3px #FF9800 solid;
    border-bottom: 3px #FF9800 solid;

    border-radius: 0 5px 5px 0;

    display: flex;

    flex-direction: column;
    /* justify-content: space-between;
    align-items: center;*/
}

.containerSection3 .containerSuperior {
    width: 100%;

    display: flex;
    justify-content: flex-end;

    color: black;
}

.containerSection3 .containerSuperior .containerRigth {
    width: 50%;

    border-top: 3px #FF9800 solid;

    border-radius: 5px 0 0 0
        /* border-top: 3px black solid;
    ;

    display: flex;
    justify-content: end; */
}

.containerSection3 .containerSuperior h2 {
    width: 75%;
    background-color: #FF9800;
    text-align: center;
    border-radius: 0 0 5px 5px;

}

.containerSection3 .containerInterior {
    width: 100%;
    height: 80vh;

    padding: 1em;

    display: flex;
    justify-content: space-around;
}

.containerSection3 .containerInterior #form-concact-pc {
    width: 30%;
}

.containerSection3 .containerInterior .containerQR {
    width: 50%;
    height: 100%;

    font-size: 0.7em;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}

.containerSection3 .containerInterior .containerQR .imgQR {
    border-radius: 10px;
    border: 5px #FF9800 solid;

    width: 45%;

    box-shadow: rgba(255, 152, 0, 0.4) 5px 5px, rgba(202, 121, 0, 0.3) 10px 10px, rgba(161, 97, 0, 0.2) 15px 15px, rgba(133, 80, 0, 0.1) 20px 20px, rgba(94, 56, 0, 0.05) 25px 25px;

    transform: translateY(-1000%);
}

.containerSection3 .containerInterior .containerQR .textQR {
    margin-top: 2em;
    color: #FF9800;
}

.imgQRActive {
    animation: fallAndBounce 1s forwards;
    /* Agrega la animación de caída */
}

.snPCleft {
    z-index: 9999;
    width: auto;
    height: 15em;
    border-radius: 0 10px 10px 0;
    background-color: #FF9800;
    padding: 0.3em;

    position: fixed;
    top: 50%;
    left: -150%;

    transform: translate(0, -50%);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.snPCleft.mostrarLeft {
    left: 0;
    transition: left 1s ease;
}

.snPCleft.ocultarLeft {
    left: -150%;
    transition: left 1s ease;
}

.snPCrigth {
    z-index: 9999;
    width: auto;
    height: 15em;
    border-radius: 10px 0 0 10px;
    background-color: black;
    padding: 0.3em;

    position: fixed;
    top: 50%;

    transform: translate(0, -50%);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.snPCrigth.mostrarRigth {
    right: 0;
    transition: right 1s ease;
}

.snPCrigth.ocultarRigth {
    right: -100%;
    transition: right 1s ease;
}

@keyframes fallAndBounce {
    0% {
        transform: translateY(-100%) rotate(40deg);
    }

    50% {
        transform: translateY(50px) rotate(0);
        /* La imagen rebota hacia abajo */
    }

    75% {
        transform: translateY(-10px) rotate(5deg);

    }

    100% {
        transform: translateY(0);
    }
}

@media screen and (max-width: 1280px) {
    .viewP .containerSection1 {
        width: 100%;
    }
}

@media screen and (max-width: 1080px) {
    .viewP {
        height: auto;

    }

    .viewP .containerSection1 {
        flex-direction: column;
    }

    .imgMain {
        width: 80%;
        height: auto;
        margin-bottom: 3rem;
    }

    .contTexto {
        width: 80%;
        margin: 0;
    }

    .contTexto h2,
    .contTexto p {
        text-align: justify;
    }

    .containerGrid {
        height: auto;

        display: flex;
        flex-direction: column;
    }

    .containerGrid .card-grid-pc {
        padding: 1em;

        /* background-color: #; */

        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .containerSection3 .containerInterior {
        height: auto;

        align-items: center;
        flex-direction: column;
    }

    .containerSection3 .containerInterior #form-concact-pc,
    .containerSection3 .containerInterior .containerQR {
        width: 60%;
        height: 20em;

        margin: 1em;
    }
}