.homePhone {
    height: inherit;
    width: inherit;
    animation: cambiarColorFondo 5s infinite alternate;

    display: flex;
    justify-content: center;
    align-items: center;
}

#imgHome {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    border: 0.5rem white solid;
    opacity: 0;
    object-fit: cover;
    transform: rotateY(0deg);
}

#imgHome.mostrar {
    opacity: 1;
    transition: opacity 1s ease;
}

#imgHome.ocultar {
    opacity: 0;
    transition: opacity 1s ease;
}

#imgHome.vibrar {
    animation: vibrar 0.3s ease-in-out;
}

@keyframes cambiarColorFondo {
    0% {
        background-color: #000000;
    }

    50% {
        background-color:  #FF9800;
    }

    100% {
        background-color: #000000;
    }
}

@keyframes vibrar {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(0, -3px);
    }

    50% {
        transform: translate(0, 6px);
    }

    75% {
        transform: translate(0, 3px);
    }

    100% {
        transform: translate(0, 0);
    }
}

#contador {
    font-family: 'Digital-7';
    font-size: 15rem;
    color: white;
    opacity: 0;
}

#contador.mostrar {
    opacity: 1;
    transition: opacity 0.3s ease;
}

#container-mensaje {
    position: fixed;
    top: 5%;
    left: 5%;
    background-color: white;
    padding: 0.7rem;
    border: 1px solid gray;
    border-radius: 3px;
    
    font-size: 0.9rem;
    transform: translateX(-150%);
}

#container-mensaje.mostrar {
    opacity: 0.7;
    transform: translateX(0);
    transition: transform 0.7s;
}

#container-mensaje.ocultar {
    transform: translateX(-150);
    transition: transform 0.5s;
}
