.viewN {
    height: 100vh;
    width: 100%;
    color: aliceblue;
    padding: 2rem;
    line-height: 1.5;
    font-size: 20px;
    opacity: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.viewN.mostrar {
    opacity: 1;
    transition: opacity 2s ease;
}

#viewMain {
    color: #FF9800;
}

#viewMain .logoFull {
    width: 70%;
    margin: 0 auto 2rem auto;
}

#viewMain p {
    margin-bottom: 1rem;
}

#viewMain h2,
#viewProjects h2,
#viewContact h2 {
    color: #FF9800;
}

#viewSkills {
    background-color: aliceblue;
    color: black;
}

.contentProjects {
    width: 100%;
    height: 80vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#viewPlayZone {
    background-color: aliceblue;
    color: black;
}

.contentPlayZone {
    width: 100%;
    height: 80vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-content-playZone {
    width: 100%;
}

#viewContact {
    color: aliceblue;
    padding-bottom: 10vh;
}

.container-skill {
    border: 2px solid black;
    margin: 0.5rem 0;
    padding: 0 0.5rem;
    border-radius: 5px;
    height: 4rem;
    font-size: 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.iconSkill {
    width: 2rem;
    margin-right: 0.5rem;
    font-size: 0.5rem;
}

.left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cotainerNivel {
    width: 50%;
    height: 1rem;
    border: 1px solid black;
    border-radius: 3px;
}

.nivel {
    height: 100%;
    background-color: #FF9800;
}

#viewMain hr,
#viewContact hr {
    margin-bottom: 2rem;
    background-color: #FF9800;
    height: 1px;
}

#viewSkills hr {
    margin-bottom: 2rem;
    background-color: black;
    height: 1px;
}

.disable {
    transform: translateX(-150%);
    transition: transform 0.1s ease-out;
}

.enable {
    transform: translateX(0);
    transition: transform 0.4s ease;
}

#footerViewContact {
    position: fixed;
    /* height: 10vh; */
    width: 100%;
    padding: 1.5vh 0;
    font-size: 1rem;
    background-color: #FF9800;
    color: black;
    bottom: 0;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.disableFooterViewContact {
    transform: translateY(110%);
    transition: transform 0.5s;
}

.enableFooterViewContact {
    transform: translateY(0);
    transition: transform 1.5s;
}

.button-form {
    background-color: #FF9800;
    color: black;
    border-radius: 5px;
    padding: 0.5rem;
}

.red-social {
    width: 7vh;
}

#form-concact {
    height: 70%;
}

#form-concact .textarea-form {
    min-height: 8em;
}

/* Media query para pantallas con una altura máxima de 600px */
@media (max-height: 500px) {
    .viewN {
        height: auto;
    }

    #footerViewContact {
        display: none;
    }
}